[submodule "containers"]
	path = containers
	url = https://github.com/ReproNim/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = "https://github.com/ReproNim/containers"
[submodule "sourcedata/movie10"]
	path = sourcedata/movie10
	url = https://github.com/courtois-neuromod/movie10
	datalad-id = 74df9898-c9bb-11e9-85f3-3ea8d101da1a
	datalad-url = "https://github.com/courtois-neuromod/movie10"
