[submodule "containers"]
	path = containers
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/repronim/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~repronim/containers"
[submodule "sourcedata/movie10"]
	path = sourcedata/movie10
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/cneuromod.movie10.raw
	datalad-id = 74df9898-c9bb-11e9-85f3-3ea8d101da1a
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~cneuromod.movie10.raw"
